/*Limpar formatacoes padroes*/
*{
	margin: 0;
	padding: 0;	
}



/*========= IDs =============*/

body{
	font-size: 1em; /*equiuvale a 16px*/
	font-family: "arial", "verdana", sans-serif;
	background: #e8e4e8;
}

/*========= LAYOUT ========*/

#area-cabecalho{
	background: #f7b600;
	padding: 15px;
	text-align: center;	
}

#area-logo, #area-menu{
	padding: 10px;
}

#area-principal{
	width: 820px;
	margin: 0 auto; /*0 super inf e auto laterais*/
}

#area-postagens, #area-lateral{
	background: orange;
}

#area-postagens{
	width: 600px;
	float: left;
}

#area-lateral{
	width: 200px;
	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#rodape{
	clear: both;	/*remover o efeito float e ficar somente abaixo*/
	text-align: center;
	padding: 15px;
	background: #CCC;

}

/* ======Formatacao do menu ==========*/

a{
	text-decoration: none;
}

a:link, a:visited{
	color: white;
	padding: 8px 12px;
}

a:hover{
	color: #f7b600;
	background: white;
}


/*======== FORMATACOES GERAIS ============*/
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco{
	color: white;
}


